<mat-list>
  <mat-list-item routerLink="/home" routerLinkActive="active">
    <mat-icon>home</mat-icon> Dashboard
  </mat-list-item>
  <mat-list-item routerLink="/class" routerLinkActive="active">
    <mat-icon>rounded_corner</mat-icon> Classes
  </mat-list-item>
  <mat-list-item routerLink="/test" routerLinkActive="active">
    <mat-icon>question_answer</mat-icon> Tests
  </mat-list-item>
  <!-- <mat-list-item routerLink="" routerLinkActive="active">
    <mat-icon>border_all</mat-icon> Tables
  </mat-list-item>
  <mat-list-item routerLink="" routerLinkActive="active">
    <mat-icon>notifications_none</mat-icon> Notification
  </mat-list-item>
  <mat-list-item>
    <mat-icon>filter_none</mat-icon> UI Elements
  </mat-list-item> -->

</mat-list>


