<div class="card-header">
  <div style="position: absolute;">
    <button mat-icon-button [matMenuTriggerFor]="menu" style="outline: 1px dotted; ">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" >
      <button mat-menu-item  (click)="goToPreview()" >
        <mat-icon>remove_red_eye</mat-icon>
        <span>Preview</span>
      </button>
      <button mat-menu-item routerLink="/configure/{{exam._id}}" *ngIf="exam">
        <mat-icon>settings</mat-icon>
        <span>Cofigure</span>
      </button>

      <button mat-menu-item (click)="goToAnalyze(exam)" *ngIf="exam">
        <mat-icon> table_chart</mat-icon>
        <span>Analyze</span>
      </button>
    </mat-menu>
  </div>
  <h1 *ngIf="exam" class="m-0 text-center fw-bold"> <span style="margin-right: 3rem;">Manage Quiz <b>{{exam.name}}</b></span></h1>
</div>

<div class="container-fluid" style="background: rgb(240, 235, 248);padding-bottom: 5rem;" *ngIf="exam">
  <div id="wrapper" style="width: 80%; margin: 0 auto; ">
    <br>
    <div id="title_box">
        <mat-form-field class="example-full-width" appearance="fill" >
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name"   autocomplete="off" [(ngModel)]="exam.name" (focusout)="saveTitle()">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill" >
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="" [(ngModel)]="description" (focusout)="saveDescription()" ></textarea>
        </mat-form-field>
    </div>
    <br>
        <app-question *ngFor="let question of questions; let i = index" [question]="question" [index]="i" [examId]="exam._id" (questionEdited)="questionEdited()" ></app-question>
    <br>
    <div id="add_question_div">
      <button (click)="addQuestion()">Add question</button>
    </div>

  </div>

</div>
