




    <div class="card-header">
      <h1 class="m-0 text-center fw-bold"> <span style="margin-right: 3rem;" *ngIf="classFromDb">{{classFromDb.name}}</span></h1>
    </div>
    <br>

  <app-add-student (addStudentEmmiter)="getStudents()"></app-add-student>

<mat-card class="employee-table-wrapper">
  <mat-card-title class="employee-table-wrapper__header">
    <p *ngIf="!isShowFilterInput" class="employee-table-wrapper__title">Student List</p>
    <div *ngIf="isShowFilterInput" class="employee-table-wrapper__search">
      <div class="employee-table-wrapper__icon-wrapper">
        <mat-icon class="employee-table-wrapper__icon">search</mat-icon>
      </div>
      <input matInput class="employee-table-wrapper__search-input" (keyup)="applyFilter($event)">
      <button class="employee-table-wrapper__button" mat-mini-fab (click)="showFilterInput()">
        <mat-icon class="employee-table-wrapper__icon">close</mat-icon>
      </button>
    </div>
    <button class="employee-table-wrapper__button" mat-mini-fab (click)="showFilterInput()">
      <mat-icon class="employee-table-wrapper__icon">search</mat-icon>
    </button>

  </mat-card-title>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button mat-raised-button (click)="exportInCsv()" color="primary">Export</button>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button mat-raised-button *ngIf="showSendExamBtn" (click)="openModalToSendQuiz()"  color="accent" matTooltip="The test will be sent to all present students in the class">Evaluate them</button>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button *ngIf="showSendExamBtn" (click)="openModalToSendQuiz()" class="btn btn-success" matTooltip="You are going to start lecturing with all present students in the class">Start lecturing</button>
  <mat-card-content class="employee-table__content">
    <table class="employee-table__table" *ngIf="dataSource" mat-table [dataSource]="dataSource">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th class="employee-table__table-header" mat-header-cell *matHeaderCellDef>
         Present
        </th>
        <td class="employee-table__table-checkbox" mat-cell *matCellDef="let row">

          <mat-checkbox color="primary" [(ngModel)]="row.isPresent" [checked]="row.isPresent === true" >
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="student">
        <th class="employee-table__table-header" mat-header-cell *matHeaderCellDef> Student </th>
        <td class="employee-table__table-body" mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lastName}} </td>
      </ng-container>

      <!-- Company Column -->
      <ng-container matColumnDef="email">
        <th class="employee-table__table-header" mat-header-cell *matHeaderCellDef> Email </th>
        <td class="employee-table__table-body" mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <!-- City Column -->
      <ng-container matColumnDef="activities">
        <th class="employee-table__table-header" mat-header-cell *matHeaderCellDef> Activities </th>
        <td class="employee-table__table-body" mat-cell *matCellDef="let element">
          <div class="threeDots" style="width: 300px;">
           <span *ngFor="let a of element.activities"><span *ngIf="a.name !== 'activity'">{{a.name}}</span> {{a.grade}}, &nbsp;</span>
          </div>
        </td>
      </ng-container>


      <ng-container matColumnDef="in_progress">
        <th class="employee-table__table-header" mat-header-cell *matHeaderCellDef> In progress </th>
        <td class="employee-table__table-body" mat-cell *matCellDef="let element">
          <div class="threeDots" style="width: 150px;">
            <span *ngFor="let token of element.tokens">
              {{token.exam.name}},
            </span>
          </div>
        </td>
      </ng-container>

      <!-- <ng-container matColumnDef="done">
        <th class="employee-table__table-header" mat-header-cell *matHeaderCellDef> Done </th>
        <td class="employee-table__table-body" mat-cell *matCellDef="let element">
          <div class="threeDots">

          </div>
        </td>
      </ng-container> -->

      <!-- State Column -->
      <ng-container matColumnDef="set">
        <th class="employee-table__table-header" mat-header-cell *matHeaderCellDef>Settings</th>
        <td class="employee-table__table-body" mat-cell *matCellDef="let element">
          <button class="settings-button" style="outline: 1px dotted;" (click)="onEvent($event)" mat-mini-fab [matMenuTriggerFor]="settings">
            <mat-icon class="settings-button__icon">more_vert</mat-icon>
          </button>
          <div class="settings-menu">
            <mat-menu #settings="matMenu" xPosition="before">
              <button class="settings-menu__item" mat-menu-item (click)="openModalToEditStudent(element)">Edit</button>
              <button class="settings-menu__item" mat-menu-item (click)="revmoveStudent(element._id)">Delete</button>
              <button class="settings-menu__item" mat-menu-item (click)="openModalToAddactivity(element)">Add activity</button>
              <button class="settings-menu__item" mat-menu-item routerLink="/class/{{classId}}/student/{{element._id}}">View activities</button>
            </mat-menu>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
      </tr>
    </table>
  </mat-card-content>
  <div class="pagination">
      <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"
        >
      </mat-paginator>
  </div>
</mat-card>
