<button class="notification-button" mat-mini-fab [matMenuTriggerFor]="bell" (click)="showNotifications()">
  <mat-icon matBadge="4" matBadgeColor="warn" class="notification-button__icon">notifications_none</mat-icon>
</button>
<mat-menu #bell="matMenu" xPosition="before" class="notification-menu" >

  <button mat-menu-item class="notification-menu__button" routerLink="/analyze/{{notification.quiz}}" *ngFor="let notification of notifications" matTooltip="{{notification.message}}">

    <mat-icon class="notification-menu__icon_pink" *ngIf="!notification.isNew">notifications_none</mat-icon>
    <mat-icon class="notification-menu__icon_pink"  *ngIf="notification.isNew">notifications_active</mat-icon>
    {{notification.message}}
  </button>


</mat-menu>
