

<div style="width: 70%; margin: 0 auto; border-right: 1px solid rgb(221, 214, 214);border-left: 1px solid rgb(221, 214, 214);height: 100%;">
  <br>
  <h1 style="text-align: center; font-weight: 400;">Settings</h1>
  <br>
  <mat-card style="max-width: 600px; margin: 0 auto;" class="center-XY">
    <mat-card-header style="margin-left: 1rem; width: 40%;">
      <h2 style="margin: 0px;">Change user password &nbsp;&nbsp;</h2>
    </mat-card-header>

    <mat-card-actions style="margin-bottom:0px; padding:8px;">
      <button mat-flat-button color="primary" (click)="openModalToChangeUserPassword()">Change</button>
    </mat-card-actions>
  </mat-card>
  <br>
  <mat-card style="max-width: 600px; margin: 0 auto;" class="center-XY">
    <mat-card-header style="margin-left: 1rem; width: 40%;">
      <h2 style="margin: 0px;">About us &nbsp;&nbsp;</h2>
    </mat-card-header>

    <mat-card-actions style="margin-bottom:0px; padding:8px;">
      <button mat-stroked-button  color="primary" >Read</button>
    </mat-card-actions>
  </mat-card>
<br>
  <mat-card style="max-width: 600px; margin: 0 auto;" class="center-XY">
    <mat-card-header style="margin-left: 1rem; width: 40%;">
      <h2 style="margin: 0px;">Report problem &nbsp;&nbsp;</h2>
    </mat-card-header>

    <mat-card-actions style="margin-bottom:0px; padding:8px; color:rgb(162, 77, 77); font-weight: bold;">
      aleksandar.janik@devxway.com
    </mat-card-actions>
  </mat-card>
</div>
