.vertical-align-center {
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 3px;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 10px;
  box-sizing: border-box;
  color: rgb(94, 108, 132);
}
.form-logIn {
  padding: 20px;
  background: whitesmoke;
  width: 20rem;
}
