.question {
  background: white;
  width: 90%;
  padding: 1.5rem;
  box-shadow: 2px 2px 2px 1px #4285f4;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.answers {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 2rem;
}

.more_options {
  height: 3rem;
  border-top: 1px solid #265a88;
}
