#createQuiz {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  background: linear-gradient(to bottom, #337ab7 0, #265a88 100%);
  color: white;
}
.card_body {
  padding: 3rem;
}

.wrapper_buttons > button {
  margin-left: 0.5rem;
}
