<div class="card-header">
  <h1 class="m-0 text-center fw-bold"> <span style="margin-right: 3rem;">TESTS</span></h1>
</div>
<br>

<div style="text-align: center;"><button id="createQuiz" (click)="createQuiz()">Create Quiz</button></div>

<div class="card_body">
  <div style="padding:1rem;background:#3f51b5; color: white;">Exams</div>
  <div *ngFor="let exam of exams" style="border: solid rgb(220, 217, 217) 1px; padding: 1rem;">
    <a routerLink="/test/{{exam._id}}">{{exam.name}}</a>
    <div style="float: right;display: flex;align-items: center;height: 1.3rem;" class="wrapper_buttons">
      <button mat-stroked-button color="primary" (click)="goToPreview(exam)" ><mat-icon>remove_red_eye</mat-icon><span>Preview</span></button>
      <button mat-stroked-button color="primary"  routerLink="/configure/{{exam._id}}"><mat-icon>settings</mat-icon> <span>Cofigure</span></button>
      <button mat-stroked-button color="accent"><mat-icon> publish</mat-icon> <span>Publish</span></button>
      <button mat-stroked-button color="primary"><mat-icon> table_chart</mat-icon> <span>Analyze</span></button>
      <button mat-button color="warn" (click)="deleteQuiz(exam._id)"><mat-icon>delete_outline</mat-icon>Delete</button>
    </div>
  </div>
</div>
