<h2 mat-dialog-title style="text-align: center;">Change user password</h2>
<form class="admin-form" #rarityform style="margin: 0 auto;" [formGroup]="userForm" (ngSubmit)="createUser()">
  <mat-dialog-content class="mat-typography">


    <div class="center-XY">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Current Password</mat-label>
      <input matInput type="text" formControlName="currentPassword" [type]="showPassword ? 'text' : 'password'">

      <span
        *ngIf="userForm.dirty && userForm.controls['currentPassword'].touched || userForm.controls['currentPassword'].dirty">
        <mat-error class="" *ngIf="userForm.controls['currentPassword'].errors?.['required']">
          Password is required.
        </mat-error>


      </span>
    </mat-form-field>
      <img class="iconEye" alt="show" src="../../../assets/images/eye-fill.svg" (click)="showPassword = !showPassword" [hidden]="!showPassword">
      <img class="iconEye" alt="hide" src="../../../assets/images/eye-slash-fill.svg" (click)="showPassword = !showPassword" [hidden]="showPassword">
     </div>

  <div class="center-XY">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>New password</mat-label>
      <input matInput type="text" formControlName="newPassword" [type]="showPasswordNew ? 'text' : 'password'">
      <span *ngIf="userForm.dirty && userForm.controls['newPassword'].touched || userForm.controls['newPassword'].dirty">
        <mat-error class="" *ngIf="userForm.controls['newPassword'].errors?.['required']">
          Password is required,
        </mat-error>
        <mat-error class="error " *ngIf="userForm.controls['newPassword'].errors?.['minlength']">
          Password must be at least 8 characters in length,
        </mat-error>
        <mat-error class="error " *ngIf="userForm.controls['newPassword'].errors?.['lowercase']">
          Password must contains at least 1 lowercase letter!
        </mat-error>
        <mat-error class="error " *ngIf="userForm.controls['newPassword'].errors?.['upercase']">
          Password must contains at least 1 upercase letter!
        </mat-error>
        <mat-error class="error " *ngIf="userForm.controls['newPassword'].errors?.['containsnum']">
          Password must contains at least 1 number!
        </mat-error>
        <mat-error class="error " *ngIf="userForm.controls['newPassword'].errors?.['containschar']">
          Password must contains at least 1 special character!
        </mat-error>

      </span>
    </mat-form-field>
      <img class="iconEye" alt="show" src="../../../assets/images/eye-fill.svg" (click)="showPasswordNew = !showPasswordNew"
        [hidden]="!showPasswordNew">
      <img class="iconEye" alt="hide" src="../../../assets/images/eye-slash-fill.svg" (click)="showPasswordNew = !showPasswordNew"
        [hidden]="showPasswordNew">
    </div>
   <div class="center-XY">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Confirm New Password</mat-label>
      <input matInput type="text" formControlName="confirmNewPassword" [type]="showPasswordConfirm ? 'text' : 'password'">
      <span
        *ngIf="userForm.dirty && userForm.controls['confirmNewPassword'].touched || userForm.controls['confirmNewPassword'].dirty">
        <mat-error class="" *ngIf="userForm.controls['confirmNewPassword'].errors?.['required']">
          Password is required.
        </mat-error>
        <mat-error class="error " *ngIf="userForm.controls['confirmNewPassword'].errors?.['matching']">
          Passwords don't match
        </mat-error>


      </span>
    </mat-form-field>
    <img class="iconEye" alt="show" src="../../../assets/images/eye-fill.svg" (click)="showPasswordConfirm = !showPasswordConfirm"
      [hidden]="!showPasswordConfirm">
    <img class="iconEye" alt="hide" src="../../../assets/images/eye-slash-fill.svg"
      (click)="showPasswordConfirm = !showPasswordConfirm" [hidden]="showPasswordConfirm">
    </div>







  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button cdkFocusInitial type="submit">Change</button>
  </mat-dialog-actions>
</form>
